{% extends 'base.html'%}
{% load static %}

{% block title%}
	Supprimer l'article
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
        {% if user.groups.all.0.name == "Admin" %}

<div class="container">
	<br>
	<h1>Supprimer l'article: {{ article.title }}</h1>
	<br><br>

	<div class="form-group">
		<form method="POST">
			{% csrf_token %}
			<strong>Etes-vous sûr.e de vouloir supprimer l'article ?</strong> <br> <br>
			<button class="btn btn-secondary">Supprimer</button>
		</form>
	</div>
	
	<br>
</div>

{% endif %}
{% endif %}



{% endblock %}