{% extends 'base.html'%}
{% load static %}

{% block title%}
	Le prix prédit
{% endblock %}

{% block content %}
<style>
	.user_card {
			margin-top: auto;
			margin-bottom: auto;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

</style>

<div class="container-fluid menocote"> 
	{% include 'sidebar.html' %}
		<div class="container">
			<br>
			<h1></h1>
			<br><br>

					<div class="user_card card">
						<div class="card-body">
							<p>Le résultat de la prédiction est de: {{ average|floatformat:2 }}</p>
						</div>
					</div> <br>	
			<br>
		</div>
</div>
</div>




{% endblock %}